In [1]:
# Import dependencies

import pandas as pd

In [2]:
# Get all CSV's

jan_2019_bike_data = "2019 - 01.csv"
feb_2019_bike_data = "2019 - 02.csv"
mar_2019_bike_data = "2019 - 03.csv"
apr_2019_bike_data = "2019 - 04.csv"
may_2019_bike_data = "2019 - 05.csv"

In [3]:
# Create a list of files

bike_data = [jan_2019_bike_data,
             feb_2019_bike_data,
             mar_2019_bike_data,
             apr_2019_bike_data,
             may_2019_bike_data]

In [4]:
# Combine all bike data into a dataframe

df = pd.concat((pd.read_csv(bike, header = 0) for bike in bike_data))
df.head()

,month,trip_duration_sec,start_station_id,start_station_name,end_station_id,end_station_name,bike_id,user_type,member_birth_year,member_gender
0,January,80825,229.0,Foothill Blvd at 42nd Ave,196.0,Grand Ave at Perkins St,4861,Subscriber,1989.0,Male
1,January,65900,4.0,Cyril Magnin St at Ellis St,134.0,Valencia St at 24th St,5506,Subscriber,1989.0,Male
2,January,62633,245.0,Downtown Berkeley BART,157.0,65th St at Hollis St,2717,Customer,1965.0,Female
3,January,44680,85.0,Church St at Duboce Ave,53.0,Grove St at Divisadero,4557,Customer,1974.0,Male
4,January,60709,16.0,Steuart St at Market St,28.0,The Embarcadero at Bryant St,2100,Customer,NaN,NaN

In [5]:
# Check number of rows and columns

df.shape

(1053067, 10)

In [6]:
# Check column names

df.columns

Index(['month', 'trip_duration_sec', 'start_station_id', 'start_station_name',
       'end_station_id', 'end_station_name', 'bike_id', 'user_type',
       'member_birth_year', 'member_gender'],
      dtype='object')

In [7]:
# Overwrite column with replaced value for month

df["month"] = df["month"].replace("Februrary", "February")

In [8]:
# Check for null values

df.isnull().sum()

month                     0
trip_duration_sec         0
start_station_id        745
start_station_name      745
end_station_id          745
end_station_name        745
bike_id                   0
user_type                 0
member_birth_year     49376
member_gender         49370
dtype: int64

In [9]:
# Drop null values

nan_value = float("NaN")
df.replace("", nan_value, inplace = True)
df.dropna(subset = ["start_station_id", "start_station_name", "end_station_id", "end_station_name", "member_birth_year", "member_gender"], inplace=True)
df.head()

,month,trip_duration_sec,start_station_id,start_station_name,end_station_id,end_station_name,bike_id,user_type,member_birth_year,member_gender
0,January,80825,229.0,Foothill Blvd at 42nd Ave,196.0,Grand Ave at Perkins St,4861,Subscriber,1989.0,Male
1,January,65900,4.0,Cyril Magnin St at Ellis St,134.0,Valencia St at 24th St,5506,Subscriber,1989.0,Male
2,January,62633,245.0,Downtown Berkeley BART,157.0,65th St at Hollis St,2717,Customer,1965.0,Female
3,January,44680,85.0,Church St at Duboce Ave,53.0,Grove St at Divisadero,4557,Customer,1974.0,Male
5,January,6733,245.0,Downtown Berkeley BART,266.0,Parker St at Fulton St,3532,Subscriber,1994.0,Male

In [10]:
# Check for null values again

df.isnull().sum()

month                 0
trip_duration_sec     0
start_station_id      0
start_station_name    0
end_station_id        0
end_station_name      0
bike_id               0
user_type             0
member_birth_year     0
member_gender         0
dtype: int64

In [11]:
# Check datatypes

df.dtypes

month                  object
trip_duration_sec       int64
start_station_id      float64
start_station_name     object
end_station_id        float64
end_station_name       object
bike_id                 int64
user_type              object
member_birth_year     float64
member_gender          object
dtype: object

In [12]:
# Change Float to Int and check datatypes again

df.trip_duration_sec  = df.trip_duration_sec .astype(int)
df.start_station_id = df.start_station_id.astype(int)
df.end_station_id = df.end_station_id.astype(int)
df.bike_id = df.bike_id.astype(int)
df.member_birth_year = df.member_birth_year.astype(int)

df.dtypes

month                 object
trip_duration_sec      int32
start_station_id       int32
start_station_name    object
end_station_id         int32
end_station_name      object
bike_id                int32
user_type             object
member_birth_year      int32
member_gender         object
dtype: object

In [13]:
# Export merged data to CSV

df.to_csv("cleaned_bay_wheels_2019.csv", index=False)