In [1]:
# Import dependencies

import pandas as pd

In [2]:
# Get all CSV's

jan_2019_bike_data = "2019 - 01.csv"
feb_2019_bike_data = "2019 - 02.csv"
mar_2019_bike_data = "2019 - 03.csv"
apr_2019_bike_data = "2019 - 04.csv"
may_2019_bike_data = "2019 - 05.csv"

In [3]:
# Create a list of files

bike_data = [jan_2019_bike_data,
             feb_2019_bike_data,
             mar_2019_bike_data,
             apr_2019_bike_data,
             may_2019_bike_data]

In [4]:
# Combine all bike data into a dataframe

df = pd.concat((pd.read_csv(bike, header = 0) for bike in bike_data))
df.head()

,bike_id,month,trip_duration_sec,start_city_state,start_station_name,start_station_id,end_city_state,end_station_name,end_station_id,user_type,member_birth_year,member_gender
0,4498,January,1661,"Berkeley, CA",Fifth St at Delaware St,257,"Berkeley, CA",College Ave at Alcatraz Ave,166,Subscriber,1989,Female
1,1117,January,1669,"Berkeley, CA",Fifth St at Delaware St,257,"Berkeley, CA",College Ave at Alcatraz Ave,166,Subscriber,1989,Female
2,5455,January,1337,"Berkeley, CA",Fifth St at Delaware St,257,"Berkeley, CA",College Ave at Alcatraz Ave,166,Customer,1995,Male
3,795,January,379,"Berkeley, CA",Haste St at College Ave,253,"Berkeley, CA",College Ave at Alcatraz Ave,166,Subscriber,1987,Female
4,4512,January,361,"Berkeley, CA",Haste St at College Ave,253,"Berkeley, CA",College Ave at Alcatraz Ave,166,Subscriber,1988,Male

In [5]:
# Check column names

df.columns

Index(['bike_id', 'month', 'trip_duration_sec', 'start_city_state',
       'start_station_name', 'start_station_id', 'end_city_state',
       'end_station_name', 'end_station_id', 'user_type', 'member_birth_year',
       'member_gender'],
      dtype='object')

In [6]:
# Overwrite column with replaced value for month

df["month"] = df["month"].replace("Februrary", "February")

In [7]:
# Check for null values

df.isnull().sum()

bike_id               0
month                 0
trip_duration_sec     0
start_city_state      0
start_station_name    0
start_station_id      0
end_city_state        0
end_station_name      0
end_station_id        0
user_type             0
member_birth_year     0
member_gender         0
dtype: int64

In [ ]:
# Drop null values

nan_value = float("NaN")
df.replace("", nan_value, inplace = True)
df.dropna(subset = ["start_station_id", "start_station_name", "end_station_id", "end_station_name", "member_birth_year", "member_gender"], inplace=True)
df